.app {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #454f64;
	h1 {
		font-weight: 600;
		font-size: 36px;
		margin: 0 0 35px 0;
		color: #f1f1f1;
		span {
			color: #e14343;
			font-size: 45px;
		}
	}
}