@font-face {
	font-family: 'TT Firs Neue';
	font-display: swap;
	font-style: normal;
	font-weight: 100;
	src: url('../fonts/TTFirsNeue-Thin.woff') format('woff'),
		url('../fonts/TTFirsNeue-Thin.woff2') format('woff2');
}
@font-face {
	font-family: 'TT Firs Neue';
	font-display: swap;
	font-style: normal;
	font-weight: 200;
	src: url('../fonts/TTFirsNeue-ExtraLight.woff') format('woff'),
		url('../fonts/TTFirsNeue-ExtraLight.woff2') format('woff2');
}
@font-face {
	font-family: 'TT Firs Neue';
	font-display: swap;
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/TTFirsNeue-Light.woff') format('woff'),
		url('../fonts/TTFirsNeue-Light.woff2') format('woff2');
}
@font-face {
	font-family: 'TT Firs Neue';
	font-display: swap;
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/TTFirsNeue-Regular.woff') format('woff'),
		url('../fonts/TTFirsNeue-Regular.woff2') format('woff2');
}
@font-face {
	font-family: 'TT Firs Neue';
	font-display: swap;
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/TTFirsNeue-Medium.woff') format('woff'),
		url('../fonts/TTFirsNeue-Medium.woff2') format('woff2');
}
@font-face {
	font-family: 'TT Firs Neue';
	font-display: swap;
	font-style: normal;
	font-weight: 600;
	src: url('../fonts/TTFirsNeue-DemiBold.woff') format('woff'),
		url('../fonts/TTFirsNeue-DemiBold.woff2') format('woff2');
}
@font-face {
	font-family: 'TT Firs Neue';
	font-display: swap;
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/TTFirsNeue-Bold.woff') format('woff'),
		url('../fonts/TTFirsNeue-Bold.woff2') format('woff2');
}
@font-face {
	font-family: 'TT Firs Neue';
	font-display: swap;
	font-style: normal;
	font-weight: 800;
	src: url('../fonts/TTFirsNeue-ExtraBold.woff') format('woff'),
		url('../fonts/TTFirsNeue-ExtraBold.woff2') format('woff2');
}
@font-face {
	font-family: 'TT Firs Neue';
	font-display: swap;
	font-style: normal;
	font-weight: 900;
	src: url('../fonts/TTFirsNeue-Black.woff') format('woff'),
		url('../fonts/TTFirsNeue-Black.woff2') format('woff2');
}